/* .likePostHeader
{
    background-color: #fafafa;
    margin-top: 70px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
} */
.likePost
{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%; */
    
}
.likePost
{
    flex: 6.5;
    margin-left: 20%;
}
.postBottomIconClick1
{
    font-size: 125%;
    padding-left: 5px;
    padding-right: 10px;
    color: red;
}

.postL
{
    width: 420px;
    /* width: 53%; */
    margin: 0px 25px 40px 25px;
    border: 1px solid rgb(50, 55, 101);
    border-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}