.top{
    width: 100%;
    height: 60px;
    background-color: rgb(50, 55, 101);
    border-bottom: 1px solid black;
    top:0;
    display: flex;
    position: fixed;
    color: white;
    z-index: 5000;
    
}
.top1{
    width: 100%;
    height: 60px;
    background-color: rgb(50, 55, 101);
    border-bottom: 1px solid black;
    top:0;
    display: flex;
    position: fixed;
    color: white;
    
    /* margin-left: 10%; */
}
.topLeft
{
    display: flex;
    flex: 4;
    margin-left: 5%;
    margin-top: 1%;    
    cursor: pointer;
    font-size: 150%;
    text-decoration: none;
    color: white;
}

.instagram
{
    padding-left: 3%;
}

.topCenter
{
    flex: 8;
    display: flex;
    margin-left: 65%;
}

.topCenter ul li
{    
    margin-right: 19%; 
    padding-left: 5%;
    padding-right: 5%;
}

/* .topRight
{
    flex: 3;
} */

.topRightSearch
{
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    border: none;
    position: absolute;
    left: 35%;
    border-radius: 10px;
    width: 20%;
    background-size: 8%;
    background-color: white;
    /* padding: 10px;
    padding-left: 25px; */
    padding: .6%;
    padding-left: 2%;
    
}
.topRightSearch:focus
{
    outline: none;
}
.topList
{
    display: flex;
}

.topRight ul li
{
    margin-right: 6%;
    padding-left: 2%;
    padding-right: .5%;
}

.topListItem
{
    
    list-style: none;
    cursor: pointer;   
    
}

@media screen and (max-width:600px){
    .top1{
        display: none;

    }
    
}

@media screen and (max-width:942px){
    .topCenter{
        margin-left: 45%;
    }
    
}